.nav{
  margin-top: 0px;
  height: 60px;
  width: 1520px;
  background-color: blue;


}
.h1{
 margin-left: 050px;
 padding: 10px;
}
.container{
  height: 500px;
  width: 1200px;
  background-color: green;
}